@{
    ViewData["Title"] = "Home Page";
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      
        <img src="~/Images/everything-you-need-to-know-about-transportation-of-istanbul-main.jpg" />

    </div>
</div>



